.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Welcome popup styles */

  
  /* Sign in and sign up container styles */
  .signin, .signup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(var(--gray-medium), 0.5);
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  
  /* Sign in container styles */
  .signin {
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(-30deg);
    opacity: 0;
    visibility: hidden;
  }
  
  .signin-3d {
    transform: translate(-50%, -50%) rotateX(-30deg) rotateY(-30deg);
  }
  
  /* Sign up container styles */
  .signup {
    right: 50%;
    transform: translate(50%, -50%) rotateX(0deg) rotateY(30deg);
    opacity: 0;
    visibility: hidden;
  }
  
  .signup-3d {
    transform: translate(50%, -50%) rotateX(-30deg) rotateY(30deg);
  }
  